[DEFAULT]
sbem_experiment=/path/to/sbem/experiment
block=block
grid_index=1

[REGISTER_TILES]
start_section=5321
end_section=5751
batch_size=8000
stride=20
overlaps_x=200,300
overlaps_y=200,300
min_overlap=20
min_peak_ratio=1.4
min_peak_sharpness=1.4
max_deviation=5.
max_magnitude=0.
min_patch_size=10
max_gradient=-1.
reconcile_flow_max_deviation=-1.
n_workers=1

[MESH_INTEGRATION_CONFIG]
dt=0.001
gamma=0.0
k0=0.01
k=0.1
num_iters=1000
max_iters=20000
stop_v_max=0.001
dt_max=100.
prefer_orig_order=True
start_cap=0.1
final_cap=10.0
remove_drift=True

[WARP_CONFIG]
margin=20
use_clahe=True
kernel_size=1024
clip_limit=0.01
nbins=256

[SLURM]
account=acc
job_name=name
cpus_per_task=12
ntasks=1
partition=partition
mem=32G
gres=gpu
mail_user=user@doma.in
run_dir=/path/to/slurm/run/dir
conda_env=/path/to/env
sofima_dir=/path/to/sofima
cudnn_dir=/path/to/cudnn
cuda=cuda-11.3
